.laser {
    position: absolute;
    height: 3px;
    background-color: #ff0000;
    transform-origin: 0 50%;
    z-index: 999;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
    animation: laserPulse 0.05s ease-out;
}

.tuxGun {
    position: absolute;
    top: calc(100% - 100px);
    left: 50%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

@keyframes laserPulse {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    50% {
        opacity: 0.8;
        transform: scaleY(1.5);
    }
    100% {
        opacity: 0.6;
        transform: scaleY(0.8);
    }
}