.visualizer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
        align-self: center;
    }

    .music-controls {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .play-stop-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 16px;
        }
    }

    .visualizer {
        width: 100%;
        height: 100%;
        background-color: #222;
        border: 2px solid #444;
        margin-top: 16px;
    }
}